<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Deltagerliste</title>
    <link href="css/simple.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <p>Logget inn som: <span th:text="${mobil}"></span></p>

    <table>
        <thead>
            <tr>
                <th>Påmeldte</th>

            </tr>
        </thead>
        <tbody>
        <tr th:each="deltager : ${deltagere}">
            <td th:text="${deltager.fornavn}"></td>
            <td th:text="${deltager.etternavn}"></td>
            <td th:text="${deltager.mobil}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/loggUt" class="button-style">Logg ut</a>

</body>
</html>