<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">

    <title>Logg inn</title>
    <link href="css/simple.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h2>Logg inn</h2>
<div th:if="${feilMelding}">
    <p style="color:red" th:text="${feilMelding}"></p>
</div>
<div th:if="${loggUtMelding}">
    <p style="color:red;" th:text="${loggUtMelding}"></p>

</div>
<form method="post" action="/login">
    <fieldset>
        <label for="mobil">Mobil:</label> <input type="text" id="mobil" name="mobil"/>
        <label for="passord">Passord:</label> <input type="password" id="passord" name="passord"/>
        <br><br><button type="submit" class="button-style">Logg inn</button>

    </fieldset>
</form>
<a href="/registrer" class="button-style">Til registrering</a>
</body>
</html>