<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Paameldingsbekreftelse</title>
    <style>
        .button-style {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            color: #FFFFFF;
            background-color: #007BFF;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

    </style>
</head>
<body>

    <h2>Påmeldingsbekreftelse</h2>

    <p>Påmeldingen er mottatt for</p>
    <br>
    <p th:text="${navn}"></p>
    <p th:text="${mobil}"></p>
    <p th:text="${kjonn}"></p>

    <a href="/deltagerliste" class="button-style">Til deltagerliste</a>
    <a href="/loggUt" class="button-style">Logg ut</a>

</body>
</html>