<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Paameldingsbekreftelse</title>
    <link href="css/simple.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <h2>Påmeldingsbekreftelse</h2>

    <p>Påmeldingen er mottatt for</p>
    <br>
    <p th:text="${navn}"></p>
    <p th:text="${mobil}"></p>
    <p th:text="${kjonn}"></p>

    <a href="/deltagerliste" class="button-style">Til deltagerliste</a>
    <a href="/loggUt" class="button-style">Logg ut</a>

</body>
</html>