<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Påmelding</title>
    <link href="css/simple.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h2>Påmelding</h2>
<div th:if="${feilMelding}">
    <p th:text="${feilMelding}" style="font-weight: bold"></p>
</div>

<form method="post" action="/registrer" onsubmit="return godkjennPassord()">
    <fieldset>

        <label>Fornavn</label>
        <input type="text" name="fornavn" pattern="^[A-Z][a-zA-Z' ]+$" title="Du må ha med fornavn, det må ha stor forbokstav. Ingen andre spesialtegn enn '-'" required/>

        <label>Etternavn</label>
        <input type="text" name="etternavn" pattern="^[A-Z][a-zA-Z' ]+$" title="Du må ha med etternavn, det må ha stor forbokstav. Ingen andre spesialtegn enn '-'" required/>

        <label>Mobil (8 siffer)</label>
        <input type="text" name="mobil" pattern="^\d{8}$" title="Nummer er nødvendig/har feil format. 8 siffer" required/>

        <label>Passord</label>
        <!-- Tvinger passord til å ha en liten og en stor bokstav og være minst 8 langt-->
        <input type="password" name="passord" id="passord"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
               title="Passord er nødvendig og må ha 1 Stor bokstav, 1 Liten bokstav og være 8 karakterer langt" required/>
        <label>Passord repetert</label>
        <!-- Har ikke pattern på passordrepetert. Kunne hatt det, men skjemaet kan uansett ikke sendes hvis ikke passordene er like -->
        <input type="password" name="passordRepetert" id="passordRepetert"required/>

        <label>Kjønn</label>
        <input type="radio" name="kjonn" value="mann" checked="checked" />mann
        <input type="radio" name="kjonn" value="kvinne" />kvinne

        <br><br><button type="submit" class="button-style">Meld meg på</button>
    </fieldset>
</form>
<a href="/login" class="button-style">Naviger til logg inn</a>
</body>
</html>
<script>
    // Hindrer skjemaet å sende hvis passordene er ulike
    function godkjennPassord() {
        var pass1 = document.getElementById("passord").value;
        var pass2 = document.getElementById("passordRepetert").value;

        if(pass1 !== pass2){
            alert("Passordene må være like");
            return false;
        }
        return true;
    }
</script>
